<div *ngFor="let data of dataList">
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ data.Product_Name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ data.Price }}
      </mat-panel-description>
    </mat-expansion-panel-header> -->
  <!-- </mat-expansion-panel> -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Product</mat-card-title>
      <mat-card-subtitle>Product_Name: {{ data.Product_Name }}</mat-card-subtitle>
      <mat-card-subtitle>Category: {{ data.Category }}</mat-card-subtitle>
      <mat-card-subtitle>Price: {{ data.Price }}</mat-card-subtitle>
      <mat-card-subtitle>Quantity_Stock: {{ data.Quantity_Stock }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <!-- <mat-grid-list cols="1" rowHeight="10em">
    <mat-grid-tile>    
    </mat-grid-tile>
  </mat-grid-list> -->
</div>